.App {
    background-color: #222831;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

.page-wrap {
    min-height: 90vh;
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
}

.left {
    width: 400px;
    background-color: #0b3892;
    grid-column: 1 / 2;
}

.right {
    width: 400px;
    background-color: #0b3892;
    grid-column: 3 / 4;
}

.main {
    background-color: #393e46;
    grid-column: 2 / 3;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.main h2 {
    text-align: center;
}

.footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 40px;
    background: grey;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: #2e3239;
    grid-column: 1 / 4;

}

.footer ul {
    display: flex;
    flex-direction: row;
}

.footer ul li {
    margin-left: 10px;
    list-style: none;
    color: black;
}

.footer a {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.footer a:hover {
    transition: 0.3s;
    text-decoration: underline;
    color: rgb(216, 212, 212);
}

.App-header {
    position: sticky;
    background-color: #2e3239;
    height: 80px;
    overflow: hidden;
    display: flex;
    align-items: left;
    justify-content: space-between;
    padding: 10px;
    color: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.App-header select {
    border: 1px solid #AAA;
    border-radius: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    color: #555;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 30px;
    width: 100px;
}

.App-header h1 {
    display: flex;
    font-size: 28px;
    font-weight: bold;
    border-bottom: rgb(255, 255, 255);
    border-bottom-style: solid;
    height: 50px;
    margin-top: 16px;
    margin-left: 20px;
    animation: color-change 3s infinite;
}

@keyframes color-change {
    0% { color: #26292b; }
    25% { color: #2e3239; }
    50% { color: #5f7adb; }
    75% { color: #a2b2ee; }
    100% { color: #26292b; }
    
  }

.App-header select {
    align-items: left;
    color: #000;
    width: 50px;
    left: 100px;
}

.nav-panel {
    max-width: 100vh;
}

.nav-panel ul {
    display: flex;
    flex-direction: row;
    height: 50px;
    list-style: none;
    margin-right: 1100px;
}

.nav-panel a {
    text-decoration: none;
    font-size: calc(10px + 2vmin);
    padding: 20px;
    color: black;
    font-weight: bold;
    margin-left: 15px;
}

.nav-panel a:hover {
    transition: 0.3s;
    text-decoration: underline;
    color: rgb(216, 212, 212);
}

form {
    text-align: center;
    font-weight: bold;
    background-color: #394250;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 200px;
}

form input[type=email] {
    width: 20%;
    padding: 8px 20px;
    margin: 15px 20px;
    box-sizing: border-box;
    border-radius: 30px;
    background-color: white;
    align-self: center;
}

form input[type=password] {
    width: 20%;
    padding: 8px;
    margin: 15px 10px;
    box-sizing: border-box;
    border-radius: 30px;
    background-color: white;
    align-self: center;
}

form input[type=submit] {
    background-color: #394250;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
    margin-left: 22px;
}

.cardsLayout {
    height: 450px;
    display: flex;
    flex-direction: row;
    padding: 25px;
    border-radius: 15px;
}

.cardInfo {
    padding: 10px;
    background-color: rgb(78, 101, 107);
    border-radius: 15px;
    height: 400px;
    font-size: 20px;
}

.cardsLayout p {
    padding: 15px;
    font-weight: bold;
    font-size: .85vw;
}

.card-container {
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 500px;
    border-radius: 15px;
    padding: 10px;
}

.card-container h3 {
    font-family: sans-serif;
    font-weight: bolder;
}

.card-container p {
    color: rgb(27, 26, 26);
    font-weight: bold;
}

.card-container img {
    width: 500px;
    height: 170px;
    border-radius: 15px;
}

.card-content {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.contactHeading {
    color:rgb(184, 182, 182)
}

.news-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 700px;
    padding: 20px;
    border: 3px solid;
    border-radius: 15px;
    background-color:#a4aac4;
    margin-bottom: 20px;
}

.news-item a {
    text-decoration: none;
    color:black;
}

.date {
    align-items: flex-end;
    justify-content: right;
    text-align: right;
    color:rgb(255, 255, 255);
}

.news-item a:hover {
    transition: 0.3s;
    text-decoration: underline;
    color:rgb(255, 255, 255);
}

.news-list{
    justify-content: center;
    align-items: center;
    padding: 20px;
    display: flex;
    flex-direction: column;

}

.news-img {
    width: 700px;
    
}

.faq-container {
    background-color:rgb(78, 101, 107)
}

.question-container{
    padding: 15px;
    font-size: 1.2rem;
    text-align: center;
}

.question-container h2 {
    font-weight: bold;
}